html,
body {
  scroll-behavior: smooth;
}

.bg-stellaris-gradient {
  background: linear-gradient(
    87.77deg,
    #c167d0 9.3%,
    #4e4d9c 46.2%,
    #7629ad 90.4%
  );
}

.stellaris-gradient-diagonal {
  background: linear-gradient(
    43.77deg,
    #ebc09a 20.36%,
    #d3dfd8 34.09%,
    #c9f0fa 53.86%,
    #c9dcfe 70.33%,
    #ceb6fd 93.98%
  );
}

.light-transparent-gradient {
  background: li
    near-gradient(
      180deg,
      rgba(255, 255, 255, 0.1625) -21.69%,
      rgba(255, 255, 255, 0.2015) 78.31%
    );
}
