# Build artifacts
/packages/_/build
/packages/_/builds
/packages/\*/dist

# Dependency/cache directories
**/node_modules
**/.bun
**/.gocache
.test-data
.docker
.github
.vscode

# Docker cache
/docker-compose*.yml

# Test results
/test-results

# Git
.git
 
# Exclude local env files from context
**/.env.*
**/.env

# Agent config
.clause
.cursor