# Build artifacts

/packages/_/build
/packages/_/builds
/packages/\*/dist
/packages/build-test

# Docker cache

/.data
/docker-compose.yml
/README.md
 
# Exclude local env files from context
/packages/ui/.env.*
/packages/api/.env
/packages/api/.env.*