# You don't need to set any of these during development, but in some cases it's useful to override the defaults.
# Note: The defaults are set in docker-compose.yml, and only those mentioned in the .env.example are overridable.

#PLATFORM_HOST=lombok.localhost

# Use local directories for persisted files instead of the default named docker volumes
#PGDATA_DIR=./.docker/postgres
#MINIO_DATA_DIR=./.docker/minio

#DOCKER_HOST_CONFIG={}

# Override the default dev db password
#DB_PASSWORD=my_secret_password

# Override the default log level
#LOG_LEVEL=debug

# Override the default initial user
#INITIAL_USER=dev

# Override this is you want to use a custom s3 service during dev
#DEV_S3_ACCESS_KEY_ID=dummyaccesskeyid
#DEV_S3_SECRET_ACCESS_KEY=dummysecretaccesskey
#DEV_S3_BUCKET_NAME=lombok-dev
#DEV_S3_PREFIX=dev-local
#DEV_S3_REGION=auto
#DEV_S3_ENDPOINT=http://localhost:9000
#DEV_S3_LABEL='Minio local DEV'

#PRINT_CORE_WORKER_OUTPUT=false
#PRINT_CORE_WORKER_NSJAIL_VERBOSE_OUTPUT=false

## Dev specific overridable variables
#DEV_SEED_FILE=${DEV_SEED_FILE:-default.ts}
