services:
  lomboke2e:
    container_name: 'lomboke2e'
    build:
      context: .
      dockerfile: docker/app.Dockerfile
      target: test
    # volumes:
    #   - ./:/usr/src/app
    #   - ./.test-data/e2e-test-node-modules:/usr/src/app/node_modules
    privileged: true
  coreworkerutilsunittest:
    container_name: 'lombok-worker-utils-unit-test'
    build:
      context: .
      dockerfile: docker/app.Dockerfile
      target: local
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    entrypoint: ['bun', '--cwd', './packages/worker-utils', 'test:unit']
    privileged: true
  coreworkerunittest:
    container_name: 'lombok-core-worker-unit-test'
    build:
      context: .
      dockerfile: docker/app.Dockerfile
      target: local
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    entrypoint: ['bun', '--cwd', './packages/core-worker', 'test:unit']
    privileged: true
  coreworkere2etest:
    container_name: 'lombok-core-worker-e2e-test'
    build:
      context: .
      dockerfile: docker/app.Dockerfile
      target: local
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
      - ./.test-data/minio:/minio-test-data
    entrypoint: ['bun', '--cwd', './packages/core-worker', 'test:e2e']
