services:
  api:
    container_name: lombok-api
    build:
      context: .
      dockerfile: docker/app.Dockerfile
      target: local
    volumes:
      - ./:/usr/src/app:cached
      - /usr/src/app/node_modules
      - /usr/src/app/packages/api/node_modules
      - /usr/src/app/packages/app-worker-sdk/node_modules
      - /usr/src/app/packages/auth-utils/node_modules
      - /usr/src/app/packages/core-worker/node_modules
      - /usr/src/app/packages/core-worker-utils/node_modules
      - /usr/src/app/packages/sdk/node_modules
      - /usr/src/app/packages/types/node_modules
      - /usr/src/app/packages/utils/node_modules
      - /var/run/docker.sock:/var/run/docker.sock
    env_file: packages/api/.env
    environment:
      WAIT_HOSTS: db:${DB_PORT:-0}
    command: ['sh', './packages/api/cmd/dev-entrypoint.sh']
    ports:
      - 3000:3000
      - 3001:3001
    cap_drop: [ALL]
    cap_add:
      - SETUID
      - SETGID
      - SYS_ADMIN
      - SYS_CHROOT
      - SETPCAP
      - CHOWN
    security_opt:
      - seccomp=unconfined
      - no-new-privileges:false
      - apparmor=unconfined
    userns_mode: host
  minio:
    image: minio/minio
    command: server /data --address "minio:9000" --console-address ":9001"
    volumes:
      - ./.docker/minio/:/data
    ports:
      - 9001:${MINIO_CONSOLE_PORT:-9001}
      - 9000:9000
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://minio:9000/minio/health/live']
      interval: 3s
      timeout: 2s
      retries: 10
    environment:
      - MINIO_DOMAIN=minio:9000
  minioclient:
    image: minio/mc
    depends_on:
      minio:
        condition: service_healthy
    restart: on-failure
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 minioadmin minioadmin;

      /usr/bin/mc rm -r --force myminio/lombok-dev;
      /usr/bin/mc mb myminio/lombok-dev;

      /usr/bin/mc admin user add myminio ${DEV_S3_ACCESS_KEY_ID} ${DEV_S3_SECRET_ACCESS_KEY};
      /usr/bin/mc admin policy attach myminio readwrite --user ${DEV_S3_ACCESS_KEY_ID};

      /usr/bin/mc admin trace --debug myminio

      exit 0;
      "
  db:
    image: postgres
    ports:
      - 5432:${DB_PORT:-0}
    env_file: packages/api/.env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - ./.docker/postgres/data/:/var/lib/postgresql/data
