@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }
  #root {
    height: 100%;
    width: 100%;
  }

  a {
    /* color: inherit; */
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    border-radius: 6px;
    width: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #666;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
