name: API E2E Tests

on:
  push:
    branches:
      - '**' # matches every branch
      - '!main' # excludes master
  workflow_dispatch:

jobs:
  run-api-e2e-tests:
    name: Run API E2E Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.8
      - run: bun --cwd packages/api e2e:api
