name: Linting

on:
  push:
    branches:
      - '**' # matches every branch
      - '!main' # excludes master
  workflow_dispatch:

jobs:
  check-ui:
    name: Check @lombokapp/ui package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun --cwd packages/ui prettier:check
      - run: bun --cwd packages/ui lint:check
      - run: bun --cwd packages/ui tsc:check

  check-api:
    name: Check @lombokapp/api package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun --cwd packages/api prettier:check
      - run: bun --cwd packages/api lint:check
      - run: bun --cwd packages/api tsc:check

  check-core-worker:
    name: Check @lombokapp/core-worker package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun --cwd packages/core-worker prettier:check
      - run: bun --cwd packages/core-worker lint:check
      - run: bun --cwd packages/core-worker tsc:check

  check-worker-utils:
    name: Check @lombokapp/worker-utils package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun --cwd packages/worker-utils prettier:check
      - run: bun --cwd packages/worker-utils lint:check
      - run: bun --cwd packages/worker-utils tsc:check

  check-app-browser-sdk:
    name: Check @lombokapp/app-browser-sdk package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun --cwd packages/app-browser-sdk prettier:check
      - run: bun --cwd packages/app-browser-sdk lint:check
      - run: bun --cwd packages/app-browser-sdk tsc:check

  check-app-worker-sdk:
    name: Check @lombokapp/app-worker-sdk package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun --cwd packages/app-worker-sdk prettier:check
      - run: bun --cwd packages/app-worker-sdk lint:check
      - run: bun --cwd packages/app-worker-sdk tsc:check

  check-app-demo:
    name: Check @lombokapp/app-demo package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun --cwd packages/app-demo prettier:check
      - run: bun --cwd packages/app-demo lint:check
      - run: bun --cwd packages/app-demo tsc:check

  check-sdk:
    name: Check @lombokapp/sdk package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun --cwd packages/sdk prettier:check
      - run: bun --cwd packages/sdk lint:check
      - run: bun --cwd packages/sdk tsc:check

  check-auth-utils:
    name: Check @lombokapp/auth-utils package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun --cwd packages/auth-utils prettier:check
      - run: bun --cwd packages/auth-utils lint:check
      - run: bun --cwd packages/auth-utils tsc:check

  check-lombok-utils:
    name: Check @lombokapp/utils package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun --cwd packages/utils prettier:check
      - run: bun --cwd packages/utils lint:check
      - run: bun --cwd packages/utils tsc:check

  check-lombok-types:
    name: Check @lombokapp/types package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun --cwd packages/types prettier:check
      - run: bun --cwd packages/types lint:check
      - run: bun --cwd packages/types tsc:check

  check-ui-toolkit:
    name: Check @lombokapp/ui-toolkit package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.2
      - run: bun install
      - run: bun --cwd packages/ui-toolkit prettier:check
      - run: bun --cwd packages/ui-toolkit lint:check
      - run: bun --cwd packages/ui-toolkit tsc:check
